/* general*/
$max-conteiner-width: 1400px;
$padding-reset: 0;
$maring-reset:0;
$standard-color: rgb(116, 57, 235), rgb(94, 26, 232);
$maring-center: 0 auto;
$bording-box: border-box;

/* navbar variabili*/
$nav-color-text: white;
$nav-color-text-special: orange;
$nav-social-size: 60px;

$section-header-m: 15px;

/*section navbar*/
$font-size-h1: 50px;
$color-h1: rgb(48, 48, 48);

/*button*/
$color-botton: rgb(116, 57, 235);
$border-radius-button: 5px;
$padding-button: 6px;
$color-button-mouse-hover: rgb(148, 99, 245);

/*Card*/
$icon-size: 80px;

/*Partnership*/
$img-size: 80px;

/*feedback*/
$img-user: 80px;
$max-contaier-tex: 800px;
$line-heght-text: 30px;

/**/
$footer-list-link-mt: 10px;



/*THEME*/
$template: none;
$color-dark: rgb(32, 32, 32);
$color-dark-gray: rgb(48, 48, 48);