$max-width-container: 1100px;
$padding-container: 15px;

$nav-height:80px;

$maring-reset: 0;
$padding-reset: 0;
$maring-link: 10px;
$size-font: 22px;
$max-container-text:650px;



$sadbar-height: 350px;
$sadbar-width: 200px;
$sadbar-maring-left: 25px;
$sadbar-padding-item: 20px;

$maring-text: 10px;
$button-marigin: 10px;
$button-font-size: 18px;

$maring-main-top:30px;

$form-border-radius: 10px;
$form-maring: 15px;

$boreder-radius-link-nav: 5px;
$padding-link-nav: 4px;