.body{
    font-family: 'Roboto', sans-serif;
}

.display-hide{
    display: none;
}
.display-show{
    display: initial;
}

.text-button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}

.border-radius-max{border-radius:100%; border: 2px solid rgb(24, 192, 214);}
.color-green{color: gray;}
.font-no-bold{font-weight: 100;}
.font-size{font-size: 24px;}
.container-box{
    background-color: rgb(245, 245, 245);
}


.text-button button{
    margin-right: 20px;
    background: none;
    border: none;
    color: rgb(24, 154, 214);
}

.container-off-del-giorno{
    display: flex;
    flex-direction: row;
}

.container-off-del-giorno-1{
    display: flex;
    flex-direction: row;
}

.container-off-del-giorno h1{
    font-size: 70px;
    margin-top: 0;
    padding: 0;
    font-weight: 100;

}

.container-information div{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}


.container-information button{
    width: 100px;
    background-color: rgb(20, 20, 20);
    color: white;
    border: none;
    border-radius: 50px;

}

.conteiner-img{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 100px;
    width: 150px;
}
.conteiner-img img{
    height: 100%;
    border-radius: 10px;
}

footer{
    background-color: rgb(27, 27, 27);
    height: max-content;
}

@media screen and (min-width: 320px) {
    .container .row{
        flex-basis: 23%;
    }
    .container-off-del-giorno-1{
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 425px) {
    #container-saldi .row .col{
        padding-left: 0;
        padding-right: 0;
    }
    #container-saldi .row .col .card{
        width: 12rem;
        margin: 0 auto;
    }
    .container-off-del-giorno-1{
        display: flex;
        flex-direction: column;
    }
    .container-box{
        text-align: center;
    }
    #container-summer .row .col .card{
        width: 12rem;
        
    }
}

@media screen and (min-width: 768px) {
    #container-saldi .row .col .card{
        width: 13rem;
    }
    #container-summer .row .col .card{
        width: 18.01rem;
        
    }
    #last{
        display: none;
    }
    .container-off-del-giorno-1{
        display: flex;
        flex-direction: row;
    }
    .container-box{
        text-align: left;
    }
}

@media screen and (min-width: 1024px) {
    #container-saldi .row .col .card{
        width: 13.1rem;
    }
    #container-summer .row .col .card{
        width: 25.01rem;
        
    }
    #last{
        display: initial;
    }   
}

@media screen and (min-width: 1200px) {
    #container-saldi .row .col{
        width: 19rem;
        margin-left: 10px;
        margin-right: 10px;
    }
    #container-saldi .row .col .card{
        width: 19rem;
        margin-left: 1px;
    }
    #container-summer .row .col .card{
        width: 25.5rem;
    }
    #last{
        display: initial;
    }    
}